:root {
      --background: 254 34% 100%;
      --foreground: 254 67% 4%;
      --muted: 254 7% 95%;
      --muted-foreground: 254 4% 40%;
      --popover: 254 34% 100%;
      --popover-foreground: 254 67% 4%;
      --card: 254 34% 100%;
      --card-foreground: 254 67% 4%;
      --border: 254 4% 92%;
      --input: 254 4% 92%;
      --primary: 254 54% 82%;
      --primary-foreground: 254 54% 22%;
      --secondary: 254 17% 86%;
      --secondary-foreground: 254 17% 26%;
      --accent: 254 25% 78%;
      --accent-foreground: 254 25% 18%;
      --destructive: 11 99% 36%;
      --destructive-foreground: 0 0% 100%;
      --ring: 254 54% 82%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 254 53% 4%;
      --foreground: 254 15% 99%;
      --muted: 254 7% 5%;
      --muted-foreground: 254 4% 60%;
      --popover: 254 53% 4%;
      --popover-foreground: 254 15% 99%;
      --card: 254 53% 4%;
      --card-foreground: 254 15% 99%;
      --border: 254 4% 12%;
      --input: 254 4% 12%;
      --primary: 254 54% 82%;
      --primary-foreground: 254 54% 22%;
      --secondary: 254 13% 10%;
      --secondary-foreground: 254 13% 70%;
      --accent: 254 19% 18%;
      --accent-foreground: 254 19% 78%;
      --destructive: 11 99% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 254 54% 82%;
    }
